.skills-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.text-zone {
  flex: 1 1 100%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.skills-me {
  width: 100px;
  transition: transform 0.3s ease-in-out;
}

.skills-me:hover {
  transform: scale(1.1);
}

@media (min-width: 1200px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    justify-items: center;
    align-items: center;
    position: absolute;
    right: 275px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    justify-items: center;
    align-items: center;
    position: absolute;
    right: 175px;
  }
}

